<div class="tabs">
    <a routerLink="bookmarks" class="tab bookmarks-tab">
        <div class="tab-tile">
            <i class="material-icons-outlined">bookmarks</i>
        </div>
    </a>

    <a routerLink="todos" class="tab todos-tab">
        <div class="tab-tile">
            <i class="material-icons-outlined">check</i>
        </div>
    </a>

    <a routerLink="notes" class="tab notes-tab">
        <div class="tab-tile">
            <i class="material-icons-outlined">notes</i>
        </div>
    </a>
</div>
