.tabs {
    display: flex;

    background-color: rgba(white, 0.25);
    border-radius: 12px;
    gap: 14px;

    backdrop-filter: blur(3px);

    padding: 10px;
}

.tab-tile {
    display: flex;
    padding: 18px;
    background: rgba(black, 0.1);
    cursor: pointer;

    i {
        color: #222;
    }
}