.bookmark-tile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 12px;

    background: rgba(black, 0.5);
    border-radius: 5px;

    width: 100px;
    height: 100px;
}

.bookmark-tile img {
    max-width: 32px;
}

.tile-text {
    color: rgba(white, 0.85);
}